<h1>Real Time Products</h1>

<ul id="products" class="collection">
    <!-- Los productos se agregarán aquí por JavaScript -->
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
