<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/productos">Productos</a></li>
                <li><a href="/carts/67a77bcd287916f4b1542140">Mi Carrito</a></li> 
            </ul>
        </nav>
    </header>
    
    <main>
        {{{body}}}
    </main>

    <footer>
        <p>© 2025 E-Commerce de María Eugenia Lejbman</p>
    </footer>
</body>
</html>
